<script type="text/javascript" src="/public/javascripts/jquery.validate.js"></script>

%{ n =  _name.replaceAll(/\./,"-")
}%


<script type="text/javascript">
    var form = $("form[name='${_name}']");
    var action = form.attr("action");
    
  	$().ready(function(){

           // Get the JSON
        var map = eval(%{ out.println controllers.Validation.getValidators(_action) }%) ;

        // For each input
        var config = new Object();
        config.rules = new Object();
        config.messages = new Object();
        var $inputs = $("[name='${_name}'] input[type='text'],[name='${_name}'] textarea");
        $inputs.each( function(o) {
          var z = $(this).attr('name');
            // TODO: FIXME, there can be more than a rule and message
          config.rules[z] = map['rules'][$(this).attr('name')][0];
          config.messages[z] = map['messages'][$(this).attr('name')][0];
            $(this).wrapAll("<span class='coda_bubble ' />");
        });
        var opts = jQuery.extend({            distances : [20],            rightShifts : [0],             hideDelays : [0],              bubbleWidths : [200],              bubbleImagesPath : "",              msieFix : true,              msiePop : true        }, opts || {});

        config.showErrors = function(errorMap, errorList) {

            $('.popup').remove();

            function bubbleHtmlWrapper(opts, bubbleHtml) {
                // TODO: This is the default and should come from the configuration
                 var template = '${_template}' || '#{doBody /}';
                 if (template == '') {
                     template = '<table class="popup ${n}" style="opacity: 0; right: 0px; display: none;"><tr><td class="corner topleft"/><td class="top"/><td class="corner topright"/></tr><tr><td class="left"/><td class="bubble_content"><b style="color:red">#error</b></td><td class="right"/></tr><tr><td class="corner bottomleft"/><td class="bottom"><img style="display:block;" width="30" height="29" src="/public/images/skins/classic/bubble-tail2.png"  alt="" /></td><td class="corner bottomright"/></tr></table>';
                 }
                 return template.replace(/#error/i, response);
            }
            for (i in errorList)  {

                    var $bubbleHtml = $(bubbleHtmlWrapper(opts, errorList[i].message));
                    var $elem = $(errorList[i].element);
                    $elem.unwrap();
                    $elem.wrapAll("<span class='coda_bubble' />");
                    $elem.after($bubbleHtml);

                    var distance = opts.distances ;
                    var top = 0 - $bubbleHtml.height() - $elem.height() - 8;
                    if (!opts.msiePop && $.browser.msie) {
                        jQuery(popup).remove();
                    }
                    $bubbleHtml.css({top: top, right: opts.rightShifts, display: 'block',  opacity: 0 })
                        .animate({ top: '+=' + distance + 'px',  opacity: 0.8}, 500, 'swing');
            }
            
        };
        
  		var validator = $(form).validate(config);

	});
</script>