*{  }*

%{ n =  _name.replaceAll(/\./,"-")
def field = [:]
field['flash'] = play.mvc.Scope.Flash.current().get(_name)
field['flashArray'] = field['flash'] ? field['flash'].split(',') : []
field['error'] = play.data.validation.Validation.error(_name)
field['errorClass'] = field['error'] ? 'hasError' : ''
}%
<span id="${n}-error" class="bubble_html ${n} error ${_class}">${field.error}</span>
<script type="text/javascript">

    // Get the parent form
    var form = $("[name='${_name}']").parents("form");
    var action = form.attr("action");
    var validate = function(e) {
        var v = $("input[name='${_name}']").val();
        var validateAction = #{jsAction @Validation.validate(':formAction', ':name', ':value') /};
        var name = "${_name}";
        var popup = jQuery('.popup.${n} ${_name}', jQuery("[name='${_name}']").parent()).css('opacity', 0);


        $.get(validateAction({formAction: action, value: v, name: name}), function(response) {
            // Callback method
            if ('${_useText}' == 'true') {
                $('#${n}-error').text(response);
            } else {
                var opts = {
                    distances : [40,40,100],
                    leftShifts : [60,110,110],
                    bubbleTimes : [500,500,500],
                    hideDelays : [0,0,0],
                    bubbleWidths : [200,350,350],
                    bubbleImagesPath : "/public/images/skins/classic",
                    msieFix : true,
                    msiePop : true
                };
                if (response) {
                    opts = jQuery.extend({            distances : [20],            leftShifts : [30],              bubbleTimes : [400],              hideDelays : [0],              bubbleWidths : [200],              bubbleImagesPath : "",              msieFix : true,              msiePop : true        }, opts || {});
                    function bubbleHtmlWrapper(bubbleHtml) {
                        return '<table class="popup ${n}" style="opacity: 0; top: -60px; left: 33px; display: none;"><tr><td class="corner topleft"/><td class="top"/><td class="corner topright"/></tr><tr><td class="left"/><td class="bubble_content">' + "<b style='color:red'>" + response + "</b>" + '</td><td class="right"/></tr><tr><td class="corner bottomleft"/><td class="bottom"><img style="display:block;" width="30" height="29" alt="" /></td><td class="corner bottomright"/></tr></table>';
                    }

                    var $bubbleHtml = $(bubbleHtmlWrapper(response));
                    jQuery("[name='${_name}']").wrapAll("<span class='coda_bubble ${n}'/>");
                    jQuery("[name='${_name}']").after($bubbleHtml);
                    jQuery('.popup.${n} td.bottom img').attr('src', opts.bubbleImagesPath + '/bubble-tail2.png');
                    if (opts.msieFix) {
                        if ($.browser.msie) {
                            jQuery('.popup.${n} td.topleft').css('background-image', 'url(' + opts.bubbleImagesPath + '/bubble-1.gif)');
                            jQuery('.popup.${n} td.top').css('background-image', 'url(' + opts.bubbleImagesPath + '/bubble-2.gif)');
                            jQuery('.popup.${n} td.topright').css('background-image', 'url(' + opts.bubbleImagesPath + '/bubble-3.gif)');
                            jQuery('.popup.${n} td.left').css('background-image', 'url(' + opts.bubbleImagesPath + '/bubble-4.gif)');
                            jQuery('.popup.${n} td.right').css('background-image', 'url(' + opts.bubbleImagesPath + '/bubble-5.gif)');
                            jQuery('.popup.${n} td.bottomleft').css('background-image', 'url(' + opts.bubbleImagesPath + '/bubble-6.gif)');
                            jQuery('.popup.${n} td.bottom').css('background-image', 'url(' + opts.bubbleImagesPath + '/bubble-7.gif)');
                            jQuery('.popup.${n} td.bottomright').css('background-image', 'url(' + opts.bubbleImagesPath + '/bubble-8.gif)');
                            jQuery('.popup.${n} td.bottom img').attr('src', opts.bubbleImagesPath + '/bubble-tail2.gif');
                        }
                    }
                    var distance = opts.distances;
                    var time = opts.bubbleTimes;
                    var popup = jQuery('.popup.${n}', jQuery("[name='${_name}']").parent()).css('opacity', 0);
                    popup.css({top: -30, left: opts.leftShifts, display: 'block' })
                            .animate({ top: '-=' + distance + 'px',  opacity: 0.8}, time, 'swing', function() {
                    });

                    if (!opts.msiePop && $.browser.msie) {
                        jQuery(popup).remove();
                    }

                }
                else
                {
                    $('table.popup.${n}').remove();
                }
            }

        }
                )
                ;
    }
            ;
    $("[name='${_name}']").blur(validate);


</script>
