<script type="text/javascript" src="/public/javascripts/jquery.validate.js"></script>


<script type="text/javascript">


    $().ready(function() {

        var form = $("form[name='${_name}']");

        var action = form.attr("action");
        var method = form.attr("method");
        var getValidatorsAction = #{jsAction @Validation.getValidators(':formAction', ':method') /};
        $.get(getValidatorsAction({formAction: action, method: method}), function(response) {
            if (response) {
                var map = eval("(" + response + ")");

                // For each input
                var config = new Object();
                config.rules = new Object();
                config.messages = new Object();
                config.onkeyup = false;

                var $inputs = $("[name='${_name}'] input[type='text'],[name='${_name}'] input[type='password'],[name='${_name}'] textarea");
                $inputs.each(function(o) {
                    var z = $(this).attr('name');
                    // TODO: FIXME, there can be more than a rule and message
                    if (map.rules[z]) {
                        config.rules[z] = map.rules[z];
                        config.messages[z] = map.messages[z];
                    }
                });
                var opts = jQuery.extend({distances : [20],rightShifts : [0],hideDelays : [0],bubbleWidths : [200],bubbleImagesPath : "",              msieFix : true,              msiePop : true        }, opts || {});
                config.showErrors = function(errorMap, errorList) {
                    for (i in errorList) {

                        //var $bubbleHtml = $(bubbleHtmlWrapper(opts, errorList[i].message));
                        var $elem = $(errorList[i].element);
                        if ($elem.attr("name")) {
                            // Get the matching showError element
                            var showErrorAttr = $elem.attr("name").replace(/\./i, "-");
                            var $showError = $("." + showErrorAttr + ".error");
                            if ($("span." + showErrorAttr + ".error-content").length > 0 ) {
                              $("span." + showErrorAttr + ".error-content").text(errorList[i].message);
                            } else {
                                $showError.html($showError.html().replace(/#error/i, "<span class='" + showErrorAttr + " error-content'>" + errorList[i].message + "</span>"));
                            }
                            $showError.fadeIn(200);
                        }
                    }
                };

                var validator = $(form).validate(config);

                $("[name='${_name}'] input[type='text'],[name='${_name}'] input[type='password'],[name='${_name}'] textarea").focusout(function(event) {

                    var showErrorAttr = $(this).attr("name").replace(/\./i, "-");
                    var $showError = $("." + showErrorAttr + ".error");
                    $showError.hide();
                    var valid = $(this).valid();
                    event.stopImmediatePropagation();
                });

//                $("[name='${_name}'] input[type='text'],[name='${_name}'] input[type='password'],[name='${_name}'] textarea").keyup(function(event) {
//                    var showErrorAttr = $(this).attr("name").replace(/\./i, "-");
//                    var $showError = $("." + showErrorAttr + ".error");
//                    $showError.hide();
//                    var valid = $(this).valid();
//                    event.stopImmediatePropagation();
//                });

            }
        });
    });
</script>
